* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-form {
    margin-left: 10px;
    margin-right: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sideImage {
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.input-part {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-element {
    margin-left: 4px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;

    border-radius: 6px;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4F46E5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dashboard-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar-parent {
    width: 18%;
    height: 100vh;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.main-container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-parent {
    width: 100%;
    height: auto;
    padding: 15px;
}


.navbar {
    display: flex;
    margin: 1px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

.add-book-parent {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 15px;
}


.sidebar {
    background-color: #4F46E5;
    height: 96%;
    margin: 10px;
    border-right: 1px solid #EBEEF4;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
    gap: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.menu-items-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;

}

.menu-item-1 {
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    padding: 10px 12px;
    color: #4F46E5;
    display: flex;
    gap: 10px;

}


.menu-item-2 {
    background-color: #4F46E5;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    padding: 10px 12px;
    color: white;
    display: flex;
    gap: 10px;

}

.add-book-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-book-form {
    width: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-left: 15px;
}

.add-book-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
}

.add-book-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}

.add-book-column>label {
    font-weight: 500;
    font-size: 15px;
    color: #37474F
}

.add-book-column>input,
.add-book-column>textarea {
    padding: 10px;
    font-size: 16px;
    background-color: #F5F5F5;
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.add-book-button {
    display: flex;

    margin-right: 10px;
    margin-bottom: 30px;
}

.btn-add-book {
    width: 180px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    background-color: #16A34A;
    color: white;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    cursor: pointer;

}